<div class="home-container">
  <app-number-management-form
    *ngIf="!showBlockSelection"
    (search)="onFormSearch($event)">
  </app-number-management-form>

  <app-number-management
    *ngIf="showBlockSelection"
    [filters]="selectedFilters">
  </app-number-management>
</div>

<!-- TEMPORARY - for previewing block-range-view only 
<app-block-range-view
  *ngIf="showBlockRangeTest"
  [selectedBlock]="testSelectedBlock"
  (save)="showBlockRangeTest = false"
  (cancel)="showBlockRangeTest = false"
  (closePopup)="showBlockRangeTest = false">
</app-block-range-view> -->